@font-face {
    font-display: swap;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    height: 100%;
}

.app-bar {
    position: absolute;
}

.mdc-top-app-bar {
    z-index: 7;
}

.mdc-list-item {
    white-space: nowrap;
}

.mdc-list-item__text {
    overflow: visible;
    white-space: nowrap;
}

.mdc-list-item__meta {
    padding-left: 2em;
    overflow: visible;
    white-space: nowrap;
}

/* The width of the space to the right of the File list icon. */
.mdc-list--dense .mdc-list-item__graphic {
    margin-right: 0.5em;
}

.oed-dark {
    color: white;
    background-color: black;
    --mdc-theme-primary: rgba(0, 0, 0, 0.87);
    --mdc-theme-secondary: rgba(0, 0, 0, 0.54);
    --mdc-theme-background: rgba(0, 0, 0, 0.87);
    --mdc-theme-surface: rgba(0, 0, 0, 0.87);
    --mdc-theme-error: rgba(0, 0, 0, 0.87);
    --mdc-theme-on-primary: white;
    --mdc-theme-on-secondary: rgba(255, 255, 255, 0.7);
    --mdc-theme-on-surface: rgba(255, 255, 255, 0.7);
    --mdc-theme-on-error: magenta;
}

.oed-light {
    color: rgba(0, 0, 0, 0.7);
    background-color: white;
    --mdc-theme-primary: rgba(255, 255, 255, 0.87);
    --mdc-theme-secondary: rgba(255, 255, 255, 0.54);
    --mdc-theme-background: rgba(255, 255, 255, 0.87);
    --mdc-theme-surface: rgba(255, 255, 255, 0.87);
    --mdc-theme-error: rgba(255, 255, 255, 0.87);
    --mdc-theme-on-primary: rgba(0, 0, 0, 0.7);
    --mdc-theme-on-secondary: rgba(0, 0, 0, 0.5);
    --mdc-theme-on-surface: rgba(0, 0, 0, 0.5);
    --mdc-theme-on-error: red;
}

/* The part to be deleted when Dark Mode is implemented in Material Design Components for Web. */
/* ここから */
.mdc-menu .mdc-list {
    color: inherit;
}

.mdc-menu .mdc-list-item__meta {
    color: inherit;
}

.mdc-top-app-bar {
    color: inherit;
}

.mdc-button:not(:disabled) {
    color: inherit;
}

.mdc-dialog .mdc-dialog__title {
    color: inherit;
}

.mdc-dialog .mdc-dialog__content {
    color: inherit;
}

.mdc-list-item--selected .mdc-list-item__graphic, .mdc-list-item--activated .mdc-list-item__graphic {
    color: inherit;
}

.mdc-drawer {
    background-color: inherit;
}

.mdc-drawer .mdc-list-item {
    color: inherit;
}

.mdc-drawer .mdc-drawer__title {
    color: inherit;
}

.mdc-drawer .mdc-list-item__graphic {
    color: inherit;
}

.mdc-list {
    color: inherit;
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item--selected::after {
    background-color: var(--mdc-theme-on-primary);
}

:not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::before, :not(.mdc-list--non-interactive)>:not(.mdc-list-item--disabled).mdc-list-item::after {
    background-color: var(--mdc-theme-on-primary);
}
/* ここまで */

select {
    width: 100%;
}
